<div class="row card">
    {{#each posts}}
        <div class="row">
            <div class="col-sm-1">
                <form class="vote-up" data-id="{{post._id}}">
                    <button type="submit">/\</button>
                </form>
                <form class="vote-down" data-id="{{post._id}}">
                    <button type="submit">\/</button>
                </form>
            </div>
        </div>
        <div class="col-sm-4">
            <h3><a href="/posts/{{this._id}}">{{this.title}}</a></h3>
            <small><a href="/u/:{{this.author.username}}">/u/{{this.author.username}}</a></small></br>
            <a href="{{this.URL}}">Link</a></br>
            <p>{{this.content}}</p></br>
            <p>{{this.subreddit}}</p>
            <small>Created: {{this.createdAt}}</small></br>
            <small>Updated Last: {{this.updatedAt}}</small>
        </div><hr>
    {{/each}}
</div>
