<div class="post">
    <h1>{{post.title}}</h1>
    <small><a href="/users/{{post.author.username}}">/u/{{post.author.username}}</a></small><hr>
    <a href="{{post.URL}}">URL</a></br>
    <p>{{post.content}}</p></br>
    <small>subs: <a href="/n/{{posts.subreddit}}">{{post.subreddit}}</a></small>
</div>
<div class="comment form">
    <form action="/posts/{{post._id}}/comments" method="post">
        <textarea class='form-control' name="content" placeholder="Comment"></textarea>
        <div class="text-right">
            <button type="submit">Save</button>
        </div>
    </form>
</div>
<div class="comments">
    {{#each post.comments}}
        <p>{{this.content}}</p>
    {{/each}}
</div>
