<div class="post">
    <h1>{{post.title}}</h1>
    <h6>{{post.author}}</h6></br>
    <a href="{{post.URL}}">URL</a></br>
    <p>{{post.content}}</p></br>
    <a href="/n/{{posts.subreddit}}"><small>{{post.subreddit}}</small></a>
</div>
<div class="comment form">
    <form action="/posts/{{post._id}}/comments" method="post">
        <textarea class='form-control' name="content" placeholder="Comment"></textarea>
        <div class="text-right">
            <button type="submit">Save</button>
        </div>
    </form>
</div>
<div class="comments">
    {{#each post.comments}}
        <p>{{this.content}}</p>
    {{/each}}
</div>
