<div class="post">
    <h1>{{this.name}}</h1></br>
    <a href="{{this.URL}}">URL</a></br>
    <p>{{posts.content}}</p></br>
    <a href="/n/{{this.subreddit}}">{{this.subreddit}}</small>
</div>
<div class="comment form">
    <form action="/posts/{{post._id}}/comments" method="post">
        <textarea class='form-control' name="content" placeholder="Comment"></textarea>
        <div class="text-right">
            <button type="submit">Save</button>
        </div>
    </form>
</div>
<div class="comments">
    {{#each post.comments}}
        {{this.content}}
    {{/each}}
</div>
