<div class="post">
    <h1>{{posts.title}}</h1>
    <small>/u/{{posts.author}}</small>
    <a href="{{posts.URL}}"></a></br>
    <p>{{posts.content}}</p></br>
    <a href="/n/{{posts.subreddit}}"><small>{{posts.subreddit}}</small></a>
</div>
<div class="comment form">
    <form action="/posts/{{posts._id}}/comments" method="post">
        <textarea class='form-control' name="content" placeholder="Comment"></textarea>
        <div class="text-right">
            <button type="submit">Save</button>
        </div>
    </form>
</div>
<div class="comments">
    {{#each post.comments}}
        {{> comment}}
    {{/each}}
</div>
